{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block page_content %}
<div class="main-content">
  <div class="content-header mt-3 mb-3">
    <h4>Admin Data</h4>
  </div>
    <div class="main-header mt-4 mb-4">
        <div class="row">
          <div class="col-md-6">
            <form action="" method="POST">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Name" name="keyword">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            {% if current_user.role_id != 1 %}
              <!-- <span class="text-danger">NO ACCESS</span> -->
            {% else %}
              <a href="{{ url_for('admin.add') }}" class="btn btn-primary float-right">Add New</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% for message in get_flashed_messages() %}
        <span class="text-danger">{{ message }}</span>
    {% endfor %}
    <table class="table table-bordered">
        <thead class="">
            <tr>
                <td>No</td>
                <td>Name</td>
                <td>Division</td>
                <td>Level</td>
                <td>email</td>
                <td>Role</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ loop.index + start }}</td>
                <td>   <a href="{{ url_for('admin.view', id=user.id) }}" title="view">{{ user.fullname }}</a> </td>
                <td>{{ user.division.name }}</td>
                <td>{{ user.level.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role.name }}</td>
                <td>
                  {% if current_user.role_id != 1 %}
                    <span class="text-danger">NO ACCESS</span>
                  {% else %}
                    <a href="{{ url_for('admin.edit', id=user.id) }}" class="btn btn-success btn-sm" title="Edit Data"><i class="fa fa-pencil"></i></a>
                    <a href="" class="btn btn-danger btn-sm delete-dialog" target-id="{{ user.id }}" title="Delete Data" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash text-white"></i></a>
                    <a href="{{ url_for('admin.admin_set_password', id=user.id) }}" class="btn btn-warning btn-sm" title="Change Password"><i class="fa fa-unlock text-white"></i></a>
                  {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              {% if prev_url %}
              <li class="page-item">
                <a class="page-link" href="{{ prev_url }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              {% endif %}
              {% for num in range(num_pages) %}
                <li class="page-item"><a class="page-link" href="data?page={{num+1}}">{{num+1}}</a></li>
              {% endfor %}
              {% if next_url %}
              <li class="page-item">
                <a class="page-link" href="{{ next_url }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}