{% extends "base.html" %}
{% block title %} {{title}} {% endblock %}
{% block page_content %}
  <div class="main-content">
    <div class="content-header mt-3 mb-3">
      <h4>Soal {{psikotest.name}}</h4>
      <hr>
    </div>
    <div class="row">
      <div class="col-12 mt-2 mb-2 text-center">
        <!-- Modal -->
        {% if status %}
          <p>Gunakan Microsoft Word pada perangkat laptop anda, untuk mengisi jawaban soal - soal berikut! <br> <b>Seluruh bagian Psikotest anda jawab dalam satu file.</b> </p>
          <br><b>Perhatikan halaman PDF!</b> jika lebih dari satu lembar, anda bisa klik Next untuk ke halaman selanjutnya, atau previous untuk ke halaman sebelumnya</p>
        {% else %}
          <p>Dibawah ini merupakan contoh Soal <b>{{ psikotest.name }}</b>. SIlahkan baca instruksi dengan teliti. <br>
          Klik tombol <b>"Mengerti"</b> jika anda sudah mengerti. dengan klik <b>"Mengerti"</b> akan otomatis masuk ke soal Test! <br>
          Tombol <b>"Mengerti"</b> ada di bawah file PDF pada halaman ini.</p>
        {% endif %}
        {% if psikotest.alert %}
        <h3><b>{{ psikotest.alert }}</b></h3>
        {% endif %}
      </div>
      <div class="col-12 mt-2 mb-2 text-center">
          {% if status %}
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">This site is protected</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Click "Close" to open the test
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" id="trigerred-prtscreen">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div id="timer" class="mt-2 text-danger">&nbsp;</div>
          {% endif %}
          <a href="{{url_for('candidate.update_flag_psikotest', id=target_candidate_id)}}" id="next_test" class="btn btn-success hide-element mt-2">Lanjutkan</a>
          <div id="pdf_preview">
            <!-- Halaman PDF <br> -->
            <div class="pagination-center">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li id="prev" class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#"><span> <span id="page_num"></span> of <span id="page_count"></span> </span></a></li>
                  <li id="next" class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
            </div>
            <div class="background-viewer">
              <canvas id="pdf_canvas" width="100%" height="600px"></canvas>
            </div>
          </div>
      </div>
      <div class="col-12 text-center mt-3 mb-3">
        {% if status %}
          <p id="instruction_test">Anda tidak dapat berpindah ke test berikutnya, sampai waktu selesai !</p>
        {% else %}
          <a href="#" class="btn btn-primary text-white confirmation-candidate" target_candidate_id = {{target_candidate_id}}>Mengerti</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.7.570/build/pdf.min.js"></script>
    <script>
      $(window).on('load', function() {
          $('#exampleModal').modal('show');
      }); 
      $("#trigerred-prtscreen").click(function(){
        $("#pdf_preview").removeClass("hide-element");
        document.addEventListener("keyup", function (e) {
          if (e.keyCode == 44) {
              console.log("printscreen")
              stopPrntScr();
          }
        });
        function stopPrntScr() {
            var inpFld = document.createElement("input");
            inpFld.setAttribute("value", ".");
            inpFld.setAttribute("width", "0");
            inpFld.style.height = "0px";
            inpFld.style.width = "0px";
            inpFld.style.border = "0px";
            document.body.appendChild(inpFld);
            inpFld.select();
            document.execCommand("copy");
            inpFld.remove(inpFld);
        }
       function AccessClipboardData() {
            try {
                window.clipboardData.setData('text', "Access   Restricted");
            } catch (err) {
            }
        }
        setInterval("AccessClipboardData()", 300);
      });
      document.addEventListener("keyup", function (e) {
        var keyCode = e.keyCode ? e.keyCode : e.which;
            if (keyCode == 44) {
                stopPrntScr();
            }
      });
      function stopPrntScr() {
        var inpFld = document.createElement("input");
        inpFld.setAttribute("value", ".");
        inpFld.setAttribute("width", "0");
        inpFld.style.height = "0px";
        inpFld.style.width = "0px";
        inpFld.style.border = "0px";
        document.body.appendChild(inpFld);
        inpFld.select();
        document.execCommand("copy");
        inpFld.remove(inpFld);
      }
       function AccessClipboardData() {
            try {
                window.clipboardData.setData('text', "Access   Restricted");
            } catch (err) {
            }
      }
      setInterval("AccessClipboardData()", 10);

      var pdfDoc = null
      var pageNum = 1
      var pageRendering = false
      var pageNumPending = null
      var scale = 1.5
      var canvas = document.getElementById('pdf_canvas')
      var ctx = canvas.getContext('2d')

      function renderPage(num){
        pageRendering = true
        pdfDoc.getPage(num).then((page)=> {
          var viewport = page.getViewport({scale});
          canvas.height = viewport.height
          canvas.width = viewport.width

          var renderContext = {
            canvasContext: ctx,
            viewport: viewport
          }

          var renderTask = page.render(renderContext)
          renderTask.promise.then(() => {
            pageRendering = false
            if (pageNumPending !== null) {
              renderPage(pageNumPending)
              pageNumPending = null
            }
          })

        })

        document.getElementById('page_num').textContent = num
      }

      function queueRenderPage(num){
        if (pageRendering) {
          pageNumPending = num
        } else {
          renderPage(num)
        }
      }

      function onPrevPage() {
        if (pageNum <= 1) {
          return
        }
        pageNum--;
        queueRenderPage(pageNum)
      }

      document.getElementById('prev').addEventListener('click', onPrevPage)

      function onNextPage() {
        if (pageNum >= pdfDoc.numPages) {
          return
        }
        pageNum++;
        queueRenderPage(pageNum)
      }

      document.getElementById('next').addEventListener('click', onNextPage)

      pdfjsLib.getDocument('{{ source_file }}').promise.then((doc) => {
        pdfDoc = doc
        document.getElementById('page_count').textContent = doc.numPages;
        renderPage(pageNum)
      })
      var status = "{{ status }}";
      if (status.toLowerCase() == "true"){
        var timer;
        var x = setInterval(function() {

        // Get today's date and time
        var now = new Date();
        var myDate = new Date('{{datetime_duration}}');
        console.log(now)
        console.log(myDate)
        // Find the distance between now and the count down date
        var distance = myDate - now;
        console.log(distance)
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);  
          
        // If the count down is over, write some text 
        if (distance < 0) {
          $.ajax({
          // url: '/signUpUser',
          url: "update_flag_psikotest/{{ check_psikotest.id }}",
          data: $('form').serialize(),
          type: 'POST',
          success: function(response){
            console.log(response);
          },
          error: function(error){
            console.log(error);
          }
        });
          clearInterval(x);
          $("#timer").html("Waktu Telah Habis");
          $("#pdf_preview").remove();
          $("#instruction_test").remove();
          $("#next_test").removeClass('hide-element');
          $( "#next_test" ).removeClass( "hide-element" ).addClass( "show-element" );
        } else {
          // Output the result in an element with id="demo"
          document.getElementById("timer").innerHTML = hours + " Jam "
          + minutes + " Menit " + seconds + " Detik ";
          }
        }, 1000);
      }
      else {
        console.log("STOP")
      }
    </script>
{% endblock %}