{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.min.css') }}">
{% endblock %}
{% block content %}
<form action="" method="post" class="fixed-center" id="">
    <div class="login-form">
        <div class="text-center login-header text-white">
            User Login
        </div>
        <div class="login-body">
            
            <div class="login-img-logo">
                <img src="{{ url_for('static', filename='img/logo.jpeg') }}" alt="" class="img-logo-responsive">
            </div>
            <div class="flash-message text-center mb-2">
                <span class="text-danger error-message">{{ message }}</span>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text feniksbackground" id="basic-addon1"><i class="fa fa-user fa-sm text-white"></i></span>
                    </div>
                    <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" id="usernameField">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text feniksbackground" id="basic-addon1"><i class="fa fa-lock fa-sm text-white"></i></span>
                    </div>
                    <input type="password" name="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="basic-addon1" id="passwordField">
                </div>
            </div>
            <div class="form-group pt-2">
                <button type="submit" class="btn loginButton" id="feniks-submit-login">login</button>
            </div>
        </div>
        <div class="text-center login-footer text-white">
            &copy; Copyright By Ardi Feniks
        </div>
      </div>
  </form>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $("#feniks-submit-login").on('click',function(event){
        event.preventDefault();
        const username = $("#usernameField").val();
        const password = $("#passwordField").val();
        $.ajax({
            type: "POST",
            url: "/login",
            data: {
                'username': username,
                'password': password
            },
            success: function (data) {
                console.log(data)
                console.log(data['status'])
                console.log(data['message'])
                if(data['status'] == '00') {
                    location.reload();
                } else {
                    $(".error-message").text(data['message']);
                }
            }
        });
    });
    </script>
{% endblock %}